[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ['google-api-python-client', 'crypto'], version = ">=v1-10-stable"}
google-cloud-storage = ">=1.16.1"

[dev-packages]

[requires]
python_version = "3.6"
