[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ['google-api-python-client', 'crypto'], version = ">=1.10.1"}

[dev-packages]

[requires]
python_version = "3.6"
